.custom-scrollbar {
  position: relative;
  overflow: auto; /* Use "auto" for automatic scrollbar when content overflows */
  max-height: 960px;
  padding-right: 20px;
  scrollbar-width: auto; /* This is for Firefox and newer versions of Chrome */
  scroll-behavior: smooth; /* For smooth scrolling behavior */
}
/* Styling for WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 18px; /* Adjust this width to your preference */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #888;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 14px;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  @media (max-width: 1050px) {
    .custom-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
  @media (max-width: 1050px) {
    .custom-scrollbar {
     scroll-behavior: smooth;
    }
  }